$blue-300: #C1DBE9; //blue-light2
$blue-400: #309CC7; //blue-light1
$blue-500: #304362; //blue2
$blue-700: #073E6A;
$blue-800: #212F51; //blue

$blue-svg: #002f67;

$orange: #E29A00;

$bg: #11101b;

// Canadian Colors
$ca-red: #ff6b6b;
$ca-blue: #48dbfb;
$ca-green: #1dd1a1;
$ca-yellow: #feca57;
$ca-pink: #ff9ff3;

$gray-100: #191c2c; /* avatar e title experiencias */
$gray-200: #11101b; /* main e experiencias */
$gray-300: #151725; /* bem-vindo e skills */
$gray-400: #11101b; /* title intro and skills */

$primary-color: #1dd7f0;
$primary-color-70: #1dd7f0b6;

$font-1: 'PT Sans Caption', sans-serif;
$font-2: 'Lato', sans-serif;

$screen-xxs : 320px; // Extra extra small screen / edge phone
$screen-xs : 710px; // Extra small screen / phone
$screen-sm : 814px; // Small screen / tablet portrait
$screen-md : 1024px; // Medium screen and tablet landscape / desktop
$screen-ml : 1280px; // Medium screen and tablet landscape / desktop
$screen-sl : 1365px; // Large screen / wide desktop
$screen-lg : 1366px; // Large screen / wide desktop
$screen-xl : 1700px; // Extra Large screen / wide desktop